<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>XHC@14000000</key>
	<dict>
		<key>parent_name</key>
		<string>XHC</string>
		<key>indent</key>
		<integer>12</integer>
		<key>name</key>
		<string>XHC</string>
		<key>parent</key>
		<string>XHC@14</string>
		<key>items</key>
		<dict/>
		<key>id</key>
		<string>0x100000292</string>
		<key>acpi_path</key>
		<string>IOACPIPlane:/_SB/PCI0@0/XHC@140000</string>
		<key>ioservice_path</key>
		<string>IOService:/AppleACPIPlatformExpert/PCI0@0/AppleACPIPCI/XHC@14/XHC@14000000</string>
		<key>address</key>
		<string>14000000</string>
		<key>acpi_address</key>
		<string>0x00140000</string>
		<key>pci_debug</key>
		<string>0:20:0</string>
		<key>line</key>
		<string>            XHC@14000000  &lt;class AppleUSBXHCISPT, id 0x100000292</string>
		<key>type</key>
		<string>AppleUSBXHCISPT</string>
		<key>ports</key>
		<dict>
			<key>08000000</key>
			<dict>
				<key>indent</key>
				<integer>14</integer>
				<key>name</key>
				<string>HS08</string>
				<key>items</key>
				<array>
					<string>    - USB DISK 2.0</string>
				</array>
				<key>id</key>
				<string>0x1000002e4</string>
				<key>connector</key>
				<integer>3</integer>
				<key>full_name</key>
				<string>HS08@14700000</string>
				<key>address</key>
				<string>14700000</string>
				<key>line</key>
				<string>              HS08@14700000  &lt;class AppleUSB20XHCIPort, id 0x1000002e1</string>
				<key>type</key>
				<string>AppleUSB20XHCIPort</string>
				<key>port</key>
				<string>08000000</string>
				<key>comment</key>
				<string>MidMid.2</string>
				<key>enabled</key>
				<true/>
			</dict>
			<key>0a000000</key>
			<dict>
				<key>indent</key>
				<integer>14</integer>
				<key>name</key>
				<string>HS10</string>
				<key>items</key>
				<array>
				</array>
				<key>id</key>
				<string>0x1000002e6</string>
				<key>connector</key>
				<integer>3</integer>
				<key>full_name</key>
				<string>HS10@14a00000</string>
				<key>address</key>
				<string>14a00000</string>
				<key>line</key>
				<string>              HS10@14a00000  &lt;class AppleUSB20XHCIPort, id 0x1000002e6</string>
				<key>type</key>
				<string>AppleUSB20XHCIPort</string>
				<key>port</key>
				<string>0a000000</string>
			</dict>
			<key>03000000</key>
			<dict>
				<key>indent</key>
				<integer>14</integer>
				<key>name</key>
				<string>HS03</string>
				<key>items</key>
				<array>
					<string>    - Razer Ornata Chroma</string>
				</array>
				<key>enabled</key>
				<true/>
				<key>id</key>
				<string>0x1000002df</string>
				<key>connector</key>
				<integer>0</integer>
				<key>full_name</key>
				<string>HS03@14200000</string>
				<key>address</key>
				<string>14200000</string>
				<key>line</key>
				<string>              HS03@14200000  &lt;class AppleUSB20XHCIPort, id 0x1000002dc</string>
				<key>type</key>
				<string>AppleUSB20XHCIPort</string>
				<key>port</key>
				<string>03000000</string>
				<key>comment</key>
				<string>Keyboard.2</string>
				<key>type_override</key>
				<integer>0</integer>
			</dict>
			<key>0e000000</key>
			<dict>
				<key>indent</key>
				<integer>14</integer>
				<key>name</key>
				<string>HS14</string>
				<key>items</key>
				<array>
					<string>    - USB DISK 2.0</string>
				</array>
				<key>id</key>
				<string>0x1000002ea</string>
				<key>connector</key>
				<integer>3</integer>
				<key>full_name</key>
				<string>HS14@14b00000</string>
				<key>address</key>
				<string>14b00000</string>
				<key>line</key>
				<string>              HS14@14b00000  &lt;class AppleUSB20XHCIPort, id 0x1000002e5</string>
				<key>type</key>
				<string>AppleUSB20XHCIPort</string>
				<key>port</key>
				<string>0e000000</string>
				<key>comment</key>
				<string>TopMid.2</string>
				<key>enabled</key>
				<true/>
			</dict>
			<key>07000000</key>
			<dict>
				<key>indent</key>
				<integer>14</integer>
				<key>name</key>
				<string>HS07</string>
				<key>items</key>
				<array>
					<string>    - USB DISK 2.0</string>
				</array>
				<key>id</key>
				<string>0x1000002e3</string>
				<key>connector</key>
				<integer>3</integer>
				<key>full_name</key>
				<string>HS07@14600000</string>
				<key>address</key>
				<string>14600000</string>
				<key>line</key>
				<string>              HS07@14600000  &lt;class AppleUSB20XHCIPort, id 0x1000002e0</string>
				<key>type</key>
				<string>AppleUSB20XHCIPort</string>
				<key>port</key>
				<string>07000000</string>
				<key>comment</key>
				<string>MidLeft.2</string>
				<key>enabled</key>
				<true/>
			</dict>
			<key>09000000</key>
			<dict>
				<key>indent</key>
				<integer>14</integer>
				<key>name</key>
				<string>HS09</string>
				<key>items</key>
				<array>
				</array>
				<key>id</key>
				<string>0x1000002e5</string>
				<key>connector</key>
				<integer>3</integer>
				<key>full_name</key>
				<string>HS09@14900000</string>
				<key>address</key>
				<string>14900000</string>
				<key>line</key>
				<string>              HS09@14900000  &lt;class AppleUSB20XHCIPort, id 0x1000002e5</string>
				<key>type</key>
				<string>AppleUSB20XHCIPort</string>
				<key>port</key>
				<string>09000000</string>
			</dict>
			<key>0b000000</key>
			<dict>
				<key>indent</key>
				<integer>14</integer>
				<key>name</key>
				<string>HS11</string>
				<key>items</key>
				<array>
					<string>    - DataTraveler 3.0</string>
				</array>
				<key>id</key>
				<string>0x1000002e7</string>
				<key>connector</key>
				<integer>0</integer>
				<key>full_name</key>
				<string>HS11@14800000</string>
				<key>address</key>
				<string>14800000</string>
				<key>line</key>
				<string>              HS11@14800000  &lt;class AppleUSB20XHCIPort, id 0x1000002e2</string>
				<key>type</key>
				<string>AppleUSB20XHCIPort</string>
				<key>port</key>
				<string>0b000000</string>
				<key>comment</key>
				<string>FrontMid.2</string>
				<key>enabled</key>
				<true/>
				<key>type_override</key>
				<integer>0</integer>
			</dict>
			<key>04000000</key>
			<dict>
				<key>indent</key>
				<integer>14</integer>
				<key>name</key>
				<string>HS04</string>
				<key>items</key>
				<array>
					<string>    - Gaming Mouse G502</string>
				</array>
				<key>enabled</key>
				<true/>
				<key>id</key>
				<string>0x1000002e0</string>
				<key>connector</key>
				<integer>0</integer>
				<key>full_name</key>
				<string>HS04@14300000</string>
				<key>address</key>
				<string>14300000</string>
				<key>line</key>
				<string>              HS04@14300000  &lt;class AppleUSB20XHCIPort, id 0x1000002dd</string>
				<key>type</key>
				<string>AppleUSB20XHCIPort</string>
				<key>port</key>
				<string>04000000</string>
				<key>comment</key>
				<string>Mouse.2</string>
				<key>type_override</key>
				<integer>0</integer>
			</dict>
			<key>0f000000</key>
			<dict>
				<key>indent</key>
				<integer>14</integer>
				<key>name</key>
				<string>USR1</string>
				<key>items</key>
				<array>
				</array>
				<key>id</key>
				<string>0x1000002eb</string>
				<key>connector</key>
				<integer>3</integer>
				<key>full_name</key>
				<string>USR1@14f00000</string>
				<key>address</key>
				<string>14f00000</string>
				<key>line</key>
				<string>              USR1@14f00000  &lt;class AppleUSB20XHCIPort, id 0x1000002eb</string>
				<key>type</key>
				<string>AppleUSB20XHCIPort</string>
				<key>port</key>
				<string>0f000000</string>
			</dict>
			<key>01000000</key>
			<dict>
				<key>indent</key>
				<integer>14</integer>
				<key>name</key>
				<string>HS01</string>
				<key>items</key>
				<array>
					<string>    - USB Storage Device</string>
				</array>
				<key>enabled</key>
				<false/>
				<key>id</key>
				<string>0x1000002dd</string>
				<key>connector</key>
				<integer>255</integer>
				<key>full_name</key>
				<string>HS01@14100000</string>
				<key>address</key>
				<string>14100000</string>
				<key>line</key>
				<string>              HS01@14100000  &lt;class AppleUSB20XHCIPort, id 0x1000002db</string>
				<key>type</key>
				<string>AppleUSB20XHCIPort</string>
				<key>port</key>
				<string>01000000</string>
				<key>type_override</key>
				<integer>255</integer>
			</dict>
			<key>0c000000</key>
			<dict>
				<key>indent</key>
				<integer>14</integer>
				<key>name</key>
				<string>HS12</string>
				<key>items</key>
				<array>
					<string>    - DataTraveler 3.0</string>
				</array>
				<key>id</key>
				<string>0x1000002e8</string>
				<key>connector</key>
				<integer>0</integer>
				<key>full_name</key>
				<string>HS12@14900000</string>
				<key>address</key>
				<string>14900000</string>
				<key>line</key>
				<string>              HS12@14900000  &lt;class AppleUSB20XHCIPort, id 0x1000002e3</string>
				<key>type</key>
				<string>AppleUSB20XHCIPort</string>
				<key>port</key>
				<string>0c000000</string>
				<key>comment</key>
				<string>FrontLeft.2</string>
				<key>enabled</key>
				<true/>
				<key>type_override</key>
				<integer>0</integer>
			</dict>
			<key>05000000</key>
			<dict>
				<key>indent</key>
				<integer>14</integer>
				<key>name</key>
				<string>HS05</string>
				<key>items</key>
				<array>
					<string>    - USB DISK 2.0</string>
				</array>
				<key>id</key>
				<string>0x1000002e1</string>
				<key>connector</key>
				<integer>3</integer>
				<key>full_name</key>
				<string>HS05@14400000</string>
				<key>address</key>
				<string>14400000</string>
				<key>line</key>
				<string>              HS05@14400000  &lt;class AppleUSB20XHCIPort, id 0x1000002de</string>
				<key>type</key>
				<string>AppleUSB20XHCIPort</string>
				<key>port</key>
				<string>05000000</string>
				<key>comment</key>
				<string>BotLeft.2</string>
				<key>enabled</key>
				<true/>
			</dict>
			<key>02000000</key>
			<dict>
				<key>indent</key>
				<integer>14</integer>
				<key>name</key>
				<string>HS02</string>
				<key>items</key>
				<array>
				</array>
				<key>id</key>
				<string>0x1000002de</string>
				<key>connector</key>
				<integer>3</integer>
				<key>full_name</key>
				<string>HS02@14200000</string>
				<key>address</key>
				<string>14200000</string>
				<key>line</key>
				<string>              HS02@14200000  &lt;class AppleUSB20XHCIPort, id 0x1000002de</string>
				<key>type</key>
				<string>AppleUSB20XHCIPort</string>
				<key>port</key>
				<string>02000000</string>
			</dict>
			<key>0d000000</key>
			<dict>
				<key>indent</key>
				<integer>14</integer>
				<key>name</key>
				<string>HS13</string>
				<key>items</key>
				<array>
					<string>    - Scarlett 8i6 USB</string>
				</array>
				<key>id</key>
				<string>0x1000002e9</string>
				<key>connector</key>
				<integer>10</integer>
				<key>full_name</key>
				<string>HS13@14a00000</string>
				<key>address</key>
				<string>14a00000</string>
				<key>line</key>
				<string>              HS13@14a00000  &lt;class AppleUSB20XHCIPort, id 0x1000002e4</string>
				<key>type</key>
				<string>AppleUSB20XHCIPort</string>
				<key>port</key>
				<string>0d000000</string>
				<key>comment</key>
				<string>TopCLeft.2</string>
				<key>enabled</key>
				<true/>
				<key>type_override</key>
				<integer>10</integer>
			</dict>
			<key>06000000</key>
			<dict>
				<key>indent</key>
				<integer>14</integer>
				<key>name</key>
				<string>HS06</string>
				<key>items</key>
				<array>
					<string>    - USB DISK 2.0</string>
				</array>
				<key>id</key>
				<string>0x1000002e2</string>
				<key>connector</key>
				<integer>3</integer>
				<key>full_name</key>
				<string>HS06@14500000</string>
				<key>address</key>
				<string>14500000</string>
				<key>line</key>
				<string>              HS06@14500000  &lt;class AppleUSB20XHCIPort, id 0x1000002df</string>
				<key>type</key>
				<string>AppleUSB20XHCIPort</string>
				<key>port</key>
				<string>06000000</string>
				<key>comment</key>
				<string>BotMid.2</string>
				<key>enabled</key>
				<true/>
			</dict>
			<key>11000000</key>
			<dict>
				<key>comment</key>
				<string>BotLeft.3</string>
				<key>indent</key>
				<integer>14</integer>
				<key>name</key>
				<string>SS01</string>
				<key>items</key>
				<array>
					<string>    - DataTraveler 3.0</string>
				</array>
				<key>enabled</key>
				<true/>
				<key>id</key>
				<string>0x1000002e6</string>
				<key>connector</key>
				<integer>3</integer>
				<key>full_name</key>
				<string>SS01@14c00000</string>
				<key>address</key>
				<string>14c00000</string>
				<key>line</key>
				<string>              SS01@14c00000  &lt;class AppleUSB30XHCIPort, id 0x1000002e6</string>
				<key>type</key>
				<string>AppleUSB30XHCIPort</string>
				<key>port</key>
				<string>11000000</string>
			</dict>
			<key>12000000</key>
			<dict>
				<key>comment</key>
				<string>BotMid.3</string>
				<key>indent</key>
				<integer>14</integer>
				<key>name</key>
				<string>SS02</string>
				<key>items</key>
				<array>
					<string>    - DataTraveler 3.0</string>
				</array>
				<key>enabled</key>
				<true/>
				<key>id</key>
				<string>0x1000002e7</string>
				<key>connector</key>
				<integer>3</integer>
				<key>full_name</key>
				<string>SS02@14d00000</string>
				<key>address</key>
				<string>14d00000</string>
				<key>line</key>
				<string>              SS02@14d00000  &lt;class AppleUSB30XHCIPort, id 0x1000002e7</string>
				<key>type</key>
				<string>AppleUSB30XHCIPort</string>
				<key>port</key>
				<string>12000000</string>
			</dict>
			<key>13000000</key>
			<dict>
				<key>comment</key>
				<string>MidLeft.3</string>
				<key>indent</key>
				<integer>14</integer>
				<key>name</key>
				<string>SS03</string>
				<key>items</key>
				<array>
					<string>    - DataTraveler 3.0</string>
				</array>
				<key>enabled</key>
				<true/>
				<key>id</key>
				<string>0x1000002e8</string>
				<key>connector</key>
				<integer>3</integer>
				<key>full_name</key>
				<string>SS03@14e00000</string>
				<key>address</key>
				<string>14e00000</string>
				<key>line</key>
				<string>              SS03@14e00000  &lt;class AppleUSB30XHCIPort, id 0x1000002e8</string>
				<key>type</key>
				<string>AppleUSB30XHCIPort</string>
				<key>port</key>
				<string>13000000</string>
			</dict>
			<key>14000000</key>
			<dict>
				<key>comment</key>
				<string>MidMid.3</string>
				<key>indent</key>
				<integer>14</integer>
				<key>name</key>
				<string>SS04</string>
				<key>items</key>
				<array>
					<string>    - DataTraveler 3.0</string>
				</array>
				<key>enabled</key>
				<true/>
				<key>id</key>
				<string>0x1000002e9</string>
				<key>connector</key>
				<integer>3</integer>
				<key>full_name</key>
				<string>SS04@14f00000</string>
				<key>address</key>
				<string>14f00000</string>
				<key>line</key>
				<string>              SS04@14f00000  &lt;class AppleUSB30XHCIPort, id 0x1000002e9</string>
				<key>type</key>
				<string>AppleUSB30XHCIPort</string>
				<key>port</key>
				<string>14000000</string>
			</dict>
			<key>16000000</key>
			<dict>
				<key>comment</key>
				<string>Front.3</string>
				<key>indent</key>
				<integer>14</integer>
				<key>name</key>
				<string>SS06</string>
				<key>items</key>
				<array>
					<string>    - DataTraveler 3.0</string>
				</array>
				<key>enabled</key>
				<false/>
				<key>id</key>
				<string>0x1000002ea</string>
				<key>connector</key>
				<integer>3</integer>
				<key>full_name</key>
				<string>SS06@15000000</string>
				<key>address</key>
				<string>15000000</string>
				<key>line</key>
				<string>              SS06@15000000  &lt;class AppleUSB30XHCIPort, id 0x1000002ea</string>
				<key>type</key>
				<string>AppleUSB30XHCIPort</string>
				<key>port</key>
				<string>16000000</string>
			</dict>
			<key>17000000</key>
			<dict>
				<key>comment</key>
				<string>TopCLeft.3</string>
				<key>indent</key>
				<integer>14</integer>
				<key>name</key>
				<string>SS07</string>
				<key>items</key>
				<array>
				</array>
				<key>enabled</key>
				<false/>
				<key>id</key>
				<string>0x1000002eb</string>
				<key>connector</key>
				<integer>10</integer>
				<key>type_override</key>
				<integer>10</integer>
				<key>full_name</key>
				<string>SS07@15100000</string>
				<key>address</key>
				<string>15100000</string>
				<key>line</key>
				<string>              SS07@15100000  &lt;class AppleUSB30XHCIPort, id 0x1000002eb</string>
				<key>type</key>
				<string>AppleUSB30XHCIPort</string>
				<key>port</key>
				<string>17000000</string>
			</dict>
			<key>18000000</key>
			<dict>
				<key>comment</key>
				<string>TopMid.3</string>
				<key>indent</key>
				<integer>14</integer>
				<key>name</key>
				<string>SS08</string>
				<key>items</key>
				<array>
					<string>    - DataTraveler 3.0</string>
				</array>
				<key>enabled</key>
				<true/>
				<key>id</key>
				<string>0x1000002ec</string>
				<key>connector</key>
				<integer>3</integer>
				<key>full_name</key>
				<string>SS08@15200000</string>
				<key>address</key>
				<string>15200000</string>
				<key>line</key>
				<string>              SS08@15200000  &lt;class AppleUSB30XHCIPort, id 0x1000002ec</string>
				<key>type</key>
				<string>AppleUSB30XHCIPort</string>
				<key>port</key>
				<string>18000000</string>
			</dict>
		</dict>
	</dict>
</dict>
</plist>
